<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Add Bill Details</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Add Bill Details</h1>
    <hr>
    <h2>Fill The Mandatory Fields</h2>

    <form action="#" th:action="@{/bill_details}" modelAttribute="billDetails"
          method="POST">

        <table>
            <tbody>
            <tr>
                <td>
                    <label>Issuer Agency Id</label>
                    <input type="text" th:field="*{billDetails.issuerAgencyId}"
                           class="form-control mb-10 col-10" placeholder="Issuer Agency Id" th:required="true">
                </td>
                <td>
                    <label>Billing Account Id</label>
                    <input type="text" th:field="*{billDetails.billingAccountId}"
                           class="form-control mb-10 col-10" placeholder="Billing Account Id" th:required="true">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Billing Cycle</label>
                    <input type="text" th:field="*{billDetails.billingCycle}"
                           class="form-control mb-10 col-10" placeholder="Billing Cycle">
                </td>
                <td>
                    <label>Due Amount</label>
                    <input type="text" th:field="*{billDetails.dueAmount}"
                           class="form-control mb-10 col-10" placeholder="Due Amount" th:required="true">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Paid Amount</label>
                    <input type="text" th:field="*{billDetails.paidAmount}"
                           class="form-control mb-10 col-10" placeholder="Paid Amount" th:required="true">
                </td>
                <td>
                    <label>Bill Reference Info</label>
                    <input type="text" th:field="*{billDetails.billReferenceInfo}"
                           class="form-control mb-10 col-10" placeholder="Bill Reference Info" th:required="true">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Agency Code</label>
                    <input type="text" th:field="*{billDetails.agencyCode}"
                           class="form-control mb-10 col-10" placeholder="Agency Code">
                </td>
            </tr>
            </tbody>
        </table>

        <hr>

        <button type="submit" class="btn btn-info col-2" onclick="myFunction()"> Add Bill Details</button>
    </form>
    <hr>
    <a class="btn btn-info col-2" th:href="@{/sendTransaction}"> Back Send Request </a>
    <hr>

    <a th:href="@{/}"> Home </a>
</div>

<script>
    function myFunction() {
        alert("Bill details Has Been Added ");
    }
</script>
</body>
</html>